<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-5 icon-container text-right">
                <img src="/img/http-transfer.png" alt="HTTP transfer"/>
            </div>
            <div class="col-md-7 heading">
                Какво представлява <br> HTTP протокола?
            </div>
        </div>
    </div>
</section>
<section class="intro container">
    <div class="row">
        <div class="col-xs-12 col-md-9 description-left">
            <p>
                Няма да акцентирам главно върху HTTP протокола, но нека кажа с две думи какво предствалява.
            </p>
            <h3 class="section-title">Какво е HTTP?</h3>
            <p>
                HTTP протоколът е измислен със създаването на World Wide Web (световната информационна мрежа или Уеб).
                Този протокол определя правилата, по които се извършва обмяната на информация между уеб сървър и уеб
                клиент (най-често уеб браузър).
            </p>
            <p>
                <b>HTTP</b> е съкращение от <b>Hypertext Transfer Protocol</b> и както може би личи от името му,
                представлява интернет протокол (система) за обмен на данни между два компютъра. По-специално става
                въпрос за обмен на данни между уеб сървър и клиенски компютър или с други думи казано този HTTP служи за
                показването на сайтовете от интернет на вашият компютър. Благодарение на него се изгражда система, чрез
                която вашият браузър може да се свърже с отдалечен сървър, на който е разположен желаният от вас сайт и
                след това той да се покаже на екрана ви.
            </p>
        </div>
        <div class="col-xs-12 col-md-3 image-container">
            <img src="/img/http-0.png" alt="HTTP"/>
        </div>
    </div>
</section>
<section class="info-box">
    <div class="container">
        <div class="information-holder row">
            <div class="col-xs-12 col-sm-3 image-container text-center">
                <img src="/img/http.png" alt="HTTP"/>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="description-holder">
                    <p>
                        Преди да продължим нека кажем, че пълният адрес на един сайт е нещо от сорта на:
                    </p>
                    <p class="text-center highlighted-text">
                        http://www.abv.bg/
                    </p>
                    <p>
                        http:// - показва начина, по който вашата система ще се свърже със сървъра и как точно ще се
                        обмени информацията между тях.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="additional-information">
    <div class="container">
        <div class="holder-gray row">
            <div class="col-xs-12 col-sm-8">
                <div class="description-holder">
                    <p>
                        В HTTP протокола са описани няколко метода за поискване (и изпращане) на информация от уеб
                        браузъра към уеб сървъра. Тези HTTP методи се съдържат в заявките, които уеб браузърът изпраща
                        към уеб сървъра.
                    </p>
                    <p>
                        Най-често срещаните HTTP методи са GET и POST. Съществуват още: HEAD, PUT, DELETE, TRACE,
                        OPTIONS, CONNECT.
                    </p>
                    <p>
                        В HTTP протокола са описани и HTTP статус кодове, които се изпращат от уеб сървъра, в отговор на
                        заявките от уеб браузъра.
                    </p>
                    <p>
                        Когато вашият уеб браузър се свърже с отдалечен сървър със сайт на него, който вие искате да
                        видите, вашият компютър и сървъра започват да си комуникират по между си, а след като започнете
                        да четете сайта информацията за него пристига като чист текс. Когато да кажем вие започнете да
                        пишете нещо в този сайт, например потребителско име и парола, данните също се пращат към сървъра
                        като текст. Много хора „слухтят” в интернет, или иначе казано пускат си даден софтуер, който
                        може да прослушва „разговорите” между избран компютър и сървър. Когато тези два компютъра си
                        общуват посредством HTTP данните между тях се изпращат като обикновен текст, за това
                        „слухтящият” хакер лесно може да разбере какви данни сте получили и какви изпратали.
                    </p>
                    <p>
                        Тук на помощ идва <a href="/https">HTTPS</a> сертификатът.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="image-container">
                    <img src="/img/http-request-response.png" alt="HTTP Request/Response"/>
                </div>
            </div>
        </div>
    </div>
</section>