<section class="main-intro">
    <div class="container">
        <div class="row">
            <img class="col-12 col-md-8" src="/img/web-security.png" alt="Web Security"/>
            <div class="col-12 col-md-4 description">
                <p class="">Какво е</p>
                <h1>HTTPS протокол?</h1>
                <h2 class="text-right">... ами SSL и TLS</h2>
            </div>
        </div>
    </div>
</section>
<section class="info-box mt-0">
    <div class="container">
        <div class="information-holder row">
            <div class="col-xs-12 col-sm-3 image-container text-center">
                <img src="/img/http-scroll.png" alt="HTTP Protocol"/>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="description-holder">
                    <p>
                        HTTP се отнася до HyperText Transfer Protocol и е стандартният протокол за трансфер на ресурси
                        през интернет. Протокол е просто стандартизиран формат за трансфер на данни между две
                        устройства. Браузъра изпраща HTTP заявка, която съдържа информация за търсения ресурс. Тази
                        заявка кара сървъра да върне HTTP отговор, който в повечето случаи се състои от търсените
                        ресурси. Преди да продължите към HTTPS, SSL и TLC, натиснете <a href="/http">тук</a> за да
                        разберете, изложено кратко и ясно какво е HTTP протокол.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="navigation pt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <div class="title-holder">
                    <div class="description">
                        <div class=" image-container">
                            <img src="/img/data-lock.png" alt="Web Security"/>
                        </div>
                        <h3><a href="/https">Въведение в HTTPS</a></h3>
                        <p>
                            Научете какво представлява HTTPS сертификатът, как работи и какви са стъпките за да
                            преминете към него
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <ul class="list-holder">
                    <li class="padding-bg">
                        <a href="/https#functionality"><span class="square-number">1</span> Как функционира HTTPS
                            сертификатът?</a>
                    </li>
                    <li class="padding-bg">
                        <a href="/https#certificate"><span class="square-number">2</span> Какво представлява
                            сертификатът HTTPS?</a>
                    </li>
                    <li class="padding-bg">
                        <a href="/https#necessary"><span class="square-number">3</span> Защо е необходим?</a>
                    </li>
                    <li class="padding-bg">
                        <a href="/https#preparation">
                            <span class="square-number">4</span> Πoдгoтoвĸa за преминаване към HTTPS?
                        </a>
                    </li>
                    <li class="padding-bg">
                        <a href="/https#movement"><span class="square-number">5</span> Пpeминaвaнe ĸъм НТТРЅ</a>
                    </li>
                    <li class="padding-bg">
                        <a href="/https#monitoring"><span class="square-number">6</span> Проверки и мониторинг</a>
                    </li>
                    <li class="padding-bg">
                        <a href="/https#pros-n-cons"><span class="square-number">7</span> Предимства и недостатъци</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="divider text-center">
    <img src="/img/http-to-https.jpg" alt="HTTP + SSL = HTTPS"/>
</section>
<section class="navigation pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <ul class="list-holder pl-0">
                    <li class="padding-bg">
                        <a href="/ssl#description"><span class="square-number">1</span> Какво e SSL сертификат?</a>
                    </li>
                    <li class="padding-bg">
                        <a href="/ssl#authentication"><span class="square-number">2</span> Нива на бизнес удостоверяване</a>
                    </li>
                    <li class="padding-bg">
                        <a href="/ssl#functionality"><span class="square-number">3</span> Как работи SSL сертификат?</a>
                    </li>
                    <li class="padding-bg">
                        <a href="/ssl#necessity"><span class="square-number">4</span> Необходим ли е SSL сертификат?</a>
                    </li>
                    <li class="padding-bg">
                        <a href="/ssl#compatibility"><span class="square-number">5</span> Съвместимост на SSL</a>
                    </li>
                    <li class="padding-bg">
                        <a href="/ssl#visual-marks"><span class="square-number">6</span> Отличителните белези</a>
                    </li>
                    <li class="padding-bg">
                        <a href="/ssl#error"><span class="square-number">7</span> Грешка в SSL връзка</a>
                    </li>
                    <li class="padding-bg">
                        <a href="/ssl#implementation">
                            <span class="square-number">8</span> Внедряване на SSL към сайн
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="title-holder">
                    <div class="description text-center">
                        <h3><a href="/ssl">Какво е SSL</a></h3>
                        <div class=" image-container text-center">
                            <img src="/img/ssl-ecusson.png" alt="SSL Certificate"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="info-data navigation">
    <div class="shield text-center">
        <img src="/img/shield-tick.png" alt="Shield"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 pr-4">
                <h3 class="text-right">Прочетете също така и какво е TLS и как функционира.</h3>
            </div>
            <div class="col-12 col-md-6">
                <ul class="list-holder pl-3 pt-2">
                    <li class="padding-bg">
                        <a href="/tls#what-is-tls">
                            <span class="square-number">1</span> Какво представлява TLS?
                        </a>
                    </li>
                    <li class="padding-bg">
                        <a href="/tls#tls-handshake">
                            <span class="square-number">2</span> Как се осъществява TLS Handshake
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

