<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-5 icon-container text-right">
                <img src="/img/books.png" alt="Books"/>
            </div>
            <div class="col-md-7 heading">
                Използвани <br> ресурси
            </div>
        </div>
    </div>
</section>
<section class="list-information resources">
    <div class="container">
        <h3>Използвана литература, уеб-ресурси и други източници:</h3>
        <div class="row">
            <div class="col-12 col-md-6 pl-4">
                <ul>
                    <li>
                        <a href="https://hpbn.co/transport-layer-security-tls/">
                            High Performance Browser Networking | O'Reilly
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instantssl.com/ssl-certificate-products/https.html">
                            Instant SSL by Comodo
                        </a>
                    </li>
                    <li>
                        <a href="https://sucuri.net/guides/how-to-install-ssl-certificate">
                            Sucuri
                        </a>
                    </li>
                    <li>
                        <a href="http://searchsecurity.techtarget.com/definition/Transport-Layer-Security-TLS">
                            TechTarget Security
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/HTTPS">
                            HTTPS - Wikipedia
                        </a>
                    </li>
                    <li>
                        <a href="https://developers.google.com/web/fundamentals/security/encrypt-in-transit/why-https">
                            Web Fundamentals - Google Developer's Guide
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6 pl-4">
                <ul>
                    <li>
                        <a href="https://www.eff.org/https-everywhere">
                            Electronic Frontier Foundation
                        </a>
                    </li>
                    <li>
                        <a href="https://www.digicert.com/ssl/">
                            Digisert - SSL
                        </a>
                    </li>
                    <li>
                        <a href="https://www.globalsign.com/en/ssl-information-center/what-is-ssl/">
                            Global Sign - What is SSL
                        </a>
                    </li>
                    <li>
                        книга:
                        <a href="http://shop.oreilly.com/product/9781565925090.do">
                            HTTP: The Definitive Guide
                        </a>
                    </li>
                    <li>
                        книга:
                        <a href="https://www.eetimes.com/document.asp?doc_id=1275894">
                            SSL and TLS Essentials: Securing the Web
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="info-box">
    <div class="container">
        <div class="information-holder row">
            <div class="col-xs-12 col-sm-3 image-container text-center">
                <img src="/img/video-resources.png" alt="Video Resources"/>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="description-holder">
                    <p>
                        Много от информацията показана във този уебсайт е взаимствана от видео уроци и пояснения. Ето и
                        линковете към някои от тях. Разгледайте ги и обогатете знанията си относно HTTPS, SSL и TLS.
                        Просто натиснете върху линковете и научете още неща за този протокол и защо той е необходим.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="list-information resources pt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-md-6 pl-4">
                <ul>
                    <li>
                        <a href="https://www.youtube.com/watch?v=SzSXHv8RKdM">
                            What is HTTP?
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=JCvPnwpWVUQ">
                            What is HTTPS?
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=dsuVPxuU_hc">
                            What is SSL?
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=iQsKdtjwtYI">
                            How SSL works tutorial - with HTTPS example
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=ntVeD1sQDsg">
                            What Is SSL? And Why Do You Need It?
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6 pl-4">
                <ul>
                    <li>
                        <a href="https://www.youtube.com/watch?v=earzZpX-PiY">
                            SSL Certificates: Serving secure web content over HTTPS
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=po3zYOe00O4">
                            Explained HTTP, HTTPS, SSL/TLS
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=yNanTvQ6PMs">
                            Why Your Website Needs A SSL Certificate
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=TEcVVHrN6W0">
                            Securing Your Website With An SSL Certificate
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=EIXRGE1dd0M">
                            5 Things You Should Know Before Purchasing an SSL Certificate
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="dictionary">
    <div class="container">
        <h3 class="text-center pb-4">Акроними</h3>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Значение</th>
                <th>#</th>
                <th>Значение</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>CA</td>
                <td>
                    <span class="title en">Certification authority</span>
                    <span class="title">Сертифициращ орган</span>
                    Предприятие, упълномощено да издава, временно прекратява, подновява или отнема сертификати. СО се
                    идентифицират чрез отличително име на всички сертификати и реферали, издадени от тях.
                    Удостоверяващият орган трябва да популяризира своя публичен ключ или да предостави сертификат на
                    по-високо ниво, удостоверяващ валидността на неговия публичен ключ, ако той е подчинен на начален
                    сертифициращ орган.
                </td>
                <td>CS</td>
                <td>
                    <span class="title en">Cipher suite</span>
                    <span class="title">Скриптов апартамент</span>
                    Това е набор от протоколи за обмен на ключове, който включва алгоритмите за удостоверяване,
                    криптиране и разпознаване на съобщения, използвани в протоколите SSL.
                </td>
            </tr>
            <tr>
                <td>DVC</td>
                <td>
                    <span class="title en">Domain Validation (DV) SSL Certificates</span>
                    <span class="title">SSL сертификати за удостоверяване на домейн</span>
                    Най-основното ниво на SSL сертификат, само собствеността върху домейн име се валидира преди
                    издаването на сертификата.
                </td>
                <td>EVC</td>
                <td>
                    <span class="title en">Extended Validation (EV) SSL Certificates</span>
                    <span class="title">SSL сертификати за разширена валидация (EV)</span>
                    Най-изчерпателната форма на защитен сертификат, който валидира домейна, изисква много строго
                    удостоверяване на фирмата и я откроява в адресната лента.
                </td>
            </tr>
            <tr>
                <td>HTTP</td>
                <td>
                    <span class="title en">Hypertext Transfer Protocol</span>
                    Интернет протокол (система) за обмен на данни между два компютъра (системи).
                </td>
                <td>HTTPS</td>
                <td>
                    <span class="title en">Hypertext Transfer Protocol Secure</span>
                    Защитната версия на HTTP протокола.
                </td>
            </tr>
            <tr>
                <td>MS</td>
                <td>
                    <span class="title en">Master Secret</span>
                    <span class="title">Майсторска тайна</span>
                    Ключовият материал, използван за генерирането на криптиращи ключове, MAC тайните и инициализиращите
                    вектори.
                </td>
                <td>MAC</td>
                <td>
                    <span class="title en">Message Authentication Code</span>
                    <span class="title">Код за удостоверяване на съобщенията</span>
                    Еднопосочна функция - съобщение и тайна.
                </td>
            </tr>
            <tr>
                <td>OVC</td>
                <td>
                    <span class="title en">Organization Validation (OV) SSL Certificates</span>
                    <span class="title">SSL сертификати за проверка на организация (OV)</span>
                    Тип SSL сертификат, който утвърждава собствеността върху домейна и съществуването на организацията
                    зад него.
                </td>
                <td>PMS</td>
                <td>
                    <span class="title en">Pre-master secret</span>
                    <span class="title">Предстойна тайна</span>
                    Ключовият материал, използван за основната тайна деривация.
                </td>
            </tr>
            <tr>
                <td>SAN</td>
                <td>
                    <span class="title en">Subject Alternative Name SSL certificates</span>
                    <span class="title">SAN (име на алтернативна тема) SSL сертификати</span>
                    Вид сертификат, който позволява няколко домейна да бъдат защитени с един SSL сертификат.
                </td>
                <td>SSL</td>
                <td>
                    <span class="title en">Secure Sockets Layer</span>
                    Протокол за уеб браузъри и сървъри, който позволява удостоверяване,
                    криптиране и дешифриране на данни, изпратени през интернет.
                </td>
            </tr>
            <tr>
                <td>SSLC</td>
                <td>
                    <span class="title en">SSL Certificate</span>
                    <span class="title">SSL сертификат</span>
                    Сертификат на сървър, който позволява удостоверяване на сървъра на потребителя, както и активиране
                    на шифроване на данни, прехвърлени между сървъра и потребителя.
                </td>
                <td>SSLH</td>
                <td>
                    <span class="title en">SSL Handshake</span>
                    A protocol used within SSL for the purpose of security negotiation.
                </td>
            </tr>
            <tr>
                <td>TCP</td>
                <td>
                    <span class="title en">Transmission Control Protocol</span>
                    <span class="title">Протокол за контрол на предаването</span>
                    Един от основните протоколи във всяка мрежа.
                </td>
                <td>TLC</td>
                <td>
                    <span class="title en">Transport Layer Security</span>
                    Защитен слой за пренос на данни.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
