<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-5 icon-container text-right">
                <img src="/img/ssl-certificate.png" alt="SSL Certificate"/>
            </div>
            <div class="col-md-7 heading">
                Какво e <br> SSL сертификат?
            </div>
        </div>
    </div>
</section>
<section id="description" class="intro container">
    <p>
        ЅЅL e cъĸpaщeниe oт <b>Ѕесurе Ѕосkеt Lауеr</b> и пpeдcтaвлявa ĸpиптoгpaфcĸи пpoтoĸoл зa вpъзĸa ĸлиeнт-cъpвъp.
        Koгaтo гoвopим зa caйтoвe, тoвa e вpъзĸa мeждy yeб cъpвъpa, ĸъдeтo ce нaмиpa yeб caйтa и ĸлиeнтcĸия бpayзъp, пpи
        ĸoятo вcичĸи дaнни ce пpeдaвaт пo интepнeт в ĸoдиpaн вид.
    </p>
    <div class="row">
        <div class="col-xs-12 col-md-6 description-left">
            <p>
                Eднo oт нaй-paзпpocтpaнeнитe пpилoжeния нa пpoтoĸoлa e в yeб бpayзъpитe, пpи изпoлзвaнeтo нa НТТРЅ или
                Нуреrtехt Тrаnѕfеr Рrоtосоl Ѕесurе.
            </p>
            <p>
                Представлява <b>технологии за защита на интернет връзката, както и за опазване на важна информация,
                изпращана между клиента и сървъра, като спира нарушители за четене, промяна и достъп до важни
                потребителски лични данни.</b> В най-честия случай двете страни са клиента и сървъра, например сайт за
                пазаруване и браузъра на потребителя. Съществуват и вразки сървър към сървър - например информация за
                разплащателни сметки и т.н.
            </p>
        </div>
        <div class="col-xs-12 col-md-6 image-container">
            <img src="/img/what-is-ssl-1b.png" alt="SSL Security"/>
        </div>
    </div>
    <p>
        <b>Целта на SSL е да се увери че данните</b>, предавани между потребилея и уебсайта, както и между отделните
        системи <b>остават невъзможни за прочит от злонамерени лица.</b> Използва криптографски алгоритми, които да
        направят данните невъзможни за четене, като това спира хакерите от прочитането им по време на трансфер. От своя
        страня, пренасяните данни могат да бъдат от различна важност и лични за потребителя, като това може да включва
        номер на кредитна карта, финансова информация, адреси, пароли и т.н.
    </p>
</section>
<section class="info-box">
    <div class="container">
        <div class="information-holder row">
            <div class="col-xs-12 col-sm-3 image-container text-center">
                <img src="/img/intro-to-ssl.png" alt="SSL"/>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="description-holder">
                    <p>
                        За онлайн фирми или уебсайтове, които приемат плащания с кредитни или дебитни карти, или
                        включват прехвърляне на лична или деликатна информация като име и адрес, <b>SSL сертификатът е
                        необходимост за сигурността на този уебсайт.</b> Това е основен начин да се уверите, че
                        сайтовете са защитени и данните на клиентите са в безопастност, но също така сигурност към
                        онлайн сайтове.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="additional-information">
    <div class="container">
        <div class="holder-gray row">
            <div class="col-xs-12 col-sm-4">
                <div class="image-container">
                    <img src="/img/what-is-ssl-2.png" alt="Security SSL"/>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="description-holder">
                    <p>
                        SSL сертификатът е инсталиран на сървъра, но има визуални знаци в браузъра, които могат да
                        покажат на потребителите, че са защитени чрез SSL. Първо, ако SSL присъства на сайта,
                        потребителите ще видят https:// в началото на уеб адреса, а не http:// (допълнителната "s"
                        буква, която означава "secure"). В зависимост от нивото на валидация на сертификата използван от
                        съответния бизнес, защитената връзка може да се укаже чрез наличието на икона на катинар или на
                        зелен сигнал на адресната лента.
                    </p>
                    <p>
                        <b>Google препоръчва HTTPS или SSL да се използват навсякъде в мрежата</b> и от 2014 г.
                        търсещата машина възнаграждава защитени уеб сайтове с подобрена уеб класация - друга голяма
                        причина за инсталирането на SSL от всеки сайт.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="authentication" class="ssl-authentication">
    <div class="container">
        <div class="row">
            <h3>Нива на бизнес удостоверяване</h3>
            <p class="main-description text-justify">
                Освен криптирането, <b>сертифициращите органи (CО)</b> също могат да удостоверяват самоличността на
                собственика на уебсайта, като добавят още един слой сигурност. SSL сертификатът се използва като
                доказателство за самоличността на компанията. Сертификатите могат да бъдат разделени на три групи за
                удостоверяване, базирани на нивото на удостоверяване, които са:
            </p>
            <div class="col-xs-12 col-sm-4">
                <div class="type-holder">
                    <span class="number">1</span>
                    <p class="title text-center">
                        <b>Сертификати за валидиране на домейни</b>
                        <br/>
                        <i>Domain Validation Certificates</i>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="type-holder">
                    <span class="number">2</span>
                    <p class="title text-center">
                        <b>Сертификати за валидност на организации</b>
                        <br/>
                        <i>Organization Validation Certificates</i>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="type-holder">
                    <span class="number">3</span>
                    <p class="title text-center">
                        <b>Сертификати за разширено валидиране</b>
                        <br/>
                        <i>Extended Validation Certificates</i>
                    </p>
                </div>
            </div>
            <p class="additional-description text-center">
                Те се различават леко по предназначение и функция. Струва си да знаете малко повече как всеки от тях
                работи, преди да решите кой е най-подходящ.
            </p>
        </div>
        <div class="row holder-row">
            <div class="col-xs-12 col-sm-3 pl-0">
                <div class="image-container">
                    <img src="/img/ssl-1.png" alt="Domain Validation"/>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 pl-0">
                <div class="holder-description">
                    <p>
                        <span class="title">Domain Validation SSL Certificates</span>
                        Те изискват от фирмите да докажат своя контрол върху самото име на домейна. Сертификатът съдържа
                        името на домейна, предоставено на издаващия орган като част от заявката при зареждане на
                        уебсайта. Тъй като идентичността на организацията не е проверена тук, сертификатите за домейн,
                        валидирани, са най-основното ниво на SSL сертифициране и са подходящи само за тестови сървъри и
                        вътрешни връзки.
                    </p>
                </div>
            </div>
        </div>
        <div class="row holder-row">
            <div class="col-xs-12 col-sm-3 pl-0">
                <div class="image-container">
                    <img src="/img/ssl-2.png" alt="Organization Validation"/>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 pl-0">
                <div class="holder-description">
                    <p>
                        <span class="title">Organization Validation SSL Certificates</span>
                        При този тип сертификати се изисква кандидатът не само да докаже, че притежава своето име на
                        домейн, което желае, но също така да докаже, че фирмата е регистрирана и юридически отговорна
                        като предприятие. Издаденият сертификат е доказателство към домейна и името на компанията. Това
                        ниво на удостоверяване е подходящо за публично ориентирани сайтове, които събират лични данни от
                        потребители на сайта. Имайте предвид, че физическите лица не могат да получат такива
                        сертификати, а само организации и фирми.
                    </p>
                </div>
            </div>
        </div>
        <div class="row holder-row">
            <div class="col-xs-12 col-sm-3 pl-0">
                <div class="image-container">
                    <img src="/img/ssl-3.png" alt="Extended Validation"/>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 pl-0">
                <div class="holder-description">
                    <p>
                        <span class="title">Extended Validation SSL Certificates</span>
                        Удълженото удостоверяване на SSL помага на потребителите да не предоставят информация за фалшив
                        уебсайт, която може да бъде използвана от престъпници за фишинг(fishing). EV SSL изисква както
                        горните потвърждения за домейна, така и няколко допълнителни стъпки за потвърждаване, свързани с
                        доказването, че SSL сертификатът принадлежи на регистрирана компания. Тази допълнителна фирмена
                        информация се представя в издадения сертификат в адресната лента и може да бъде достъпна от
                        много уеб браузъри, като кликнете върху иконата на катинар. Когато посещавате сайт с EV SSL,
                        много браузъри показват зелена адресна лента като силен визуален знак за доверие в уебсайта и
                        бизнеса за обработка на лична информация. Този тип сертификати също е достъпен само за
                        организации и фирми.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="functionality" class="ssl-certificate-work">
    <div class="container">
        <h3>Как работи SSL сертификат?</h3>
        <p>
            Основният принцип е, че когато инсталирате SSL сертификат на сървъра си и браузър се свързва с него,
            наличието на SSL сертификат задейства протокола SSL (или TLS), който ще шифрова информацията, изпратена
            между сървъра и браузъра (или между сървъри);
        </p>
        <p>
            <b>SSL работи директно върху протокола за управление на предаването (Transmission Control Protocol -
                TCP).</b> Той позволява по-високите протоколни слоеве да останат непроменени, като същевременно
            осигурява сигурна връзка. Така че под слоя SSL, другите слоеве на протокола могат да функционират нормално.
        </p>
        <p>
            Ако един SSL сертификат се използва правилно, всичко, което еднин атакуващ сайта хакер ще може да види, е
            това кой IP адрес и порт е свързан и колко точно на брой данни се изпращат. Те могат да прекратят връзката,
            но сървърът, както и потребителят ще могат разберат, че това прекъсване е извършено от трета страна. Те
            обаче няма да могат да преследват никаква информация, което прави това им действие по същество неефективна
            стъпка.
        </p>
        <p>
            Хакерът може да е в състояние да разбере кое e името на хоса, свързан с потребителя, но в крайна сметка не и
            останалата част от URL адреса. Тъй като връзката е криптирана, важната информация остава сигурна.
        </p>
        <div class="holder-image text-center">
            <img src="/img/how-ssl-work.png" alt="SSL work"/>
        </div>
        <ol>
            <li>
                SSL започва да функционира след създаването на TCP връзката, като инициира SSL handshake.
            </li>
            <li>
                Сървърът изпраща своя сертификат на потребителя заедно с редица спецификации (включително коя версия на
                SSL/TLS и кои методи за шифроване да се използват и т.н.).
            </li>
            <li>
                Потребителят след това проверява валидността на сертификата и избира най-високото ниво на шифроване,
                което може да бъде поддържано и от двете страни и стартира сигурна сесия, като използва тези методи.
                Съществуват многобройни набор от методи, които са на разположение с различни силни страни - те се
                наричат кварцови апартаменти.
            </li>
            <li>
                За да се гарантира целостта и автентичността на всички прехвърлени съобщения, протоколите SSL и TLS също
                включват процес на удостоверяване, използващ кодове за удостоверяване на съобщения (Message
                Authentication Codes - MAC). Всичко това звучи продължително и сложно, но в действителност то се постига
                почти мигновено.
            </li>
        </ol>
        <hr/>
    </div>
</section>
<section id="necessity" class="ssl-needed-title">
    <div class="container">
        <div class="row">
            <h3>Как да разберем дали е необходим SSL сертификат?</h3>
            <p class="main-description text-center">
                Фактът, че Google настоява за HTTPS в мрежата и дава приоритет на сайтовете, които имат сертификат за
                SSL, вероятно показва колко SSL е необходим, но има някои други причини за получаване на SSL сертификат:
            </p>
            <div class="col-xs-12 col-sm-4">
                <div class="holder">
                    <img src="/img/icon-secure-purchase.png" alt="Secure Purchase">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="holder">
                    <img src="/img/icon-membership.png" alt="Membership">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="holder">
                    <img src="/img/icon-form.png" alt="Forms">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ssl-needed">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="description">
                    <h4>Защитени покупки</h4>
                    <p>
                        Според Business Insider, <b>74% от количките за пазаруване са изоставени, но до 64% могат да
                        бъдат възстановени с по-добра сигурност и поток за плащане.</b> Много от тези 64% са по-склонни
                        да извършат покупка, ако знаят, че областта за плащане е сигурна. Това не е брой, който бизнесът
                        може да си позволи да пренебрегне. Дори ако използват само SSL за своята област за плащане,
                        печалбата ще си заслужава.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="description">
                    <h4>Предлагане на членство</h4>
                    <p>
                        Ако сайтове предлагат членство или нещо, което включва събиране на имейл адреси и друга
                        поверителна информация, тогава SSL е добра идея. Винаги е разумно да държите информацията за
                        клиента възможно най-сигурна.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="description">
                    <h4>При използване на формуляри</h4>
                    <p>
                        Същото важи и ако използват някакъв вид формуляр, при който потребителите ще изпращат
                        информация, документи или изображения. Изненадващо е колко информация се събира за посетителите
                        на сайта, затова си струва да я запазите в безопасност.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="last-description text-center">
                Ако вашият уебсайт е просто блог или стандартен тип "само за информация", то HTTPS може да помогне за
                защитата на сигурността на сайтовете, намалявайки риска от нарушители, които инжектират реклами на
                страницата ви, разваляйки посещението на потребителите като им показват различни екрани с реклами и
                лъжливи съобщения. Друг плюс е, че по отношение на класиране на търсачките, сайтът ви ще се издигне
                по-високо в резултате при търсене.
            </p>
        </div>
    </div>
</section>
<section id="compatibility" class="ssl-detail">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 text-center">
                <img src="/img/icon-device.png" alt="Devices"/>
            </div>
            <div class="col-xs-12 col-sm-7">
                <div class="holder-description">
                    <div class="description">
                        <h3>SSL работи ли на всички устройства?</h3>
                        <p>
                            Накратко, отговорът на този въпрос е "да". Разбира се, има някои конфигурации, които няма да
                            работят 100%, така че може да е целесъобразно да говорите с екипа за продажби на
                            Сертифициращия орган, от който ще закупие SSL сертификат, ако не сте сигурни.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ssl-detail dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <div class="holder-description">
                    <div class="description">
                        <h3>Съвместимост на браузъра</h3>
                        <p>
                            Хората използват различни браузъри (Chrome, Firefox, Safari и т.н.) за достъп до уеб
                            съдържание. Точно както сайтовете са създадени, за да работят върху всички платформи за
                            сърфиране, SSL/TLS от реномиран доставчик също ще работят в 99% от случаите. Освен ако
                            потребителите нямат достъп до сайта през ниши браузъри, които за почти неизползваеми и ниско
                            разпространени, всички големи имена ще бъдат покрити. <br> Ако вашият уебсайт се показва
                            като "Незащитен", натиснете
                            <a href="https://www.symantec.com/page.jsp?id=website-not-secure-message">тук</a>
                            за да научите за последните тенденции за сигурност през браузъра.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 text-center">
                <img src="/img/icon-browsers.png" alt="Browsers">
            </div>
        </div>
    </div>
</section>
<section class="ssl-detail">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 text-center">
                <img src="/img/icon-server.png" alt="Servers"/>
            </div>
            <div class="col-xs-12 col-sm-7">
                <div class="holder-description">
                    <div class="description">
                        <h3>Сървъри</h3>
                        <p>
                            Благодарение на начина, по който SSL работи, сървърите всъщност не трябва да имат вградени
                            коренни сертификати, но ще трябва да инсталирате съответните междинни такива. Докато
                            сертификатът е инсталиран правилно, той може да бъде поддържан от всеки сървър. Браузърът
                            трябва да определи дали е надежден или не по време на процеса на ръкостискане SSL handshake.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ssl-detail dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <div class="holder-description">
                    <div class="description">
                        <h3>Устройства и операционни системи</h3>
                        <p>
                            Отново се поддържат всички големи операционни системи за компютри, таблети и мобилни
                            телефони. В случая на мобилни телефони може да се окаже, че някои по-стари устройства няма
                            да поддържат по-новите SSL или TLS протоколи, така че си струва да се направи проучване, за
                            да се осигури максимална съвместимост. Доставчикът на SSL сертификат може да помогне с това,
                            ако има някакви съмнения.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 text-center">
                <img src="/img/icon-monitor.png" alt="OS"/>
            </div>
        </div>
    </div>
</section>
<section id="visual-marks" class="visual-implications">
    <div class="section-visual-implications">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 adjust-bottom">
                    <h3>Какви са отличителните белези на SSL?</h3>
                    <p>
                        Визуалното въздействие на SSL сертификат често има най-голям ефект върху потребителите и
                        потенциалните клиенти. Но как точно това работи и каква визуална форма ще получи SSL на даден
                        сайт?
                    </p>
                    <p>
                        Както при всяка покупка, онлайн или не, повечето хора ще бъдат по-склонни да купуват от
                        реномиран търговец. Сертификатите за доказване на автентичността или експертните познания в
                        дадена сфера често стимулират клиентите да се чувстват комфортно и по-сигурни в покупките си.
                    </p>
                    <p>
                        <b>SSL и TLS са най-добрите и най-приети стандарти за сигурност и сертификати, които трябва да
                            бъдат показани гордо, където всеки може да ги види.</b>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 image-container">
                    <img src="/img/what-is-ssl-2.png" alt="SSL visual implications"/>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <p>
                        На първо място, ще се появи индикация в адресната лента. Предварителната настройка на сайта ще
                        бъде https:// вместо http:// и като все по-често потребителите настояват за този етикет.
                    </p>
                    <p>
                        Наличието на иконата на катинар в адресната лента също е голяма <b>индикация за безопасност.</b>
                        Тя уверява клиентите, че връзката им е сигурна и криптирана. Както споменахме, това може да
                        накара хората да извършват по-голяма транзакция или покупка.
                    </p>
                    <p>
                        Използвайки най-сигурния вид сертификат - SSL сертификат за удължена валидация - името на
                        фирмата се появява в зелено в адресната лента. Това е друг сигурен начин да позволите на
                        клиентите да знаят, че това е 100% легитимно.
                    </p>
                    <p>
                        И накрая, много SSL сертификати идват с изображение на печат, което може да се използва на
                        сайта, за да се покаже марката SSL, която се използва. Нека клиентите знаят, че тяхната
                        сигурност и информация са защитени и те ще имат много по-голяма вероятност да се доверят на
                        сайта със своите пари. <a href="https://baymard.com/blog/site-seal-trust">Проучванията от 2013г.
                        показват, че SSM на Symantec SSL е най-разпознат в мрежата.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="error" class="dark-light-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <div class="dark-background">
                    <h3>Какво представлява грешка в SSL връзка?</h3>
                    <p>
                        Грешка при SSL връзка възниква, когато достъпваната страница има някои проблеми със сигурността.
                        Те се появяват за защита на потребителите, прекъсвайки достъпа им, за да ги информира, че може
                        да има опасения за сигурността, ако те продължат към стнаицата.
                    </p>
                    <p>
                        Те могат да приемат редица форми, които често се различават от избора на браузър. В някои случаи
                        страницата може да стане червена с https:// pre-fix също подчертан в червено. С помощта на
                        Google Chrome има няколко съобщения, които потребителите могат да виждат на екрана си. Те
                        включват "Вашата връзка не е частна" или просто, че "тази уеб страница не е налична".
                    </p>
                    <p>
                        Това може да е в резултат на остарял код за сигурност в уебсайта и не означава непременно, че
                        достъпният сайт е подозрителен, но <b>потребителите трябва сериозно да вземат грешките при
                        свръзване</b>, особено ако не са напълно сигурни за местоназначението на сайта.
                    </p>
                    <p>
                        Въпреки че съществуват начини за заобикаляне на грешките при връзката с SSL, силно се препоръчва
                        потребителите да не го правят.
                    </p>
                    <p>
                        Ако в тестовете за разработка на уебсайтове се установи, че сайтът страда от грешки в SSL
                        връзката, тогава е наложително да се направи нещо бързо. Това може да включва актуализиране на
                        настройките за сигурност или просто придобиване на по-адаптиран SSL сертификат. Това ще помогне
                        на браузърите да установят, че сайтът е защитен и позволява на потребителите да имат достъп до
                        него без предупреждения за безопасност.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <img src="/img/icon-email.png" alt="Mail">
                <h3>SSL работи ли с имейл доставчици?</h3>
                <p>
                    Повечето от големите доставчици на електронна поща използват SSL криптиране, за да кодират
                    пощата на потребителите. В повечето случаи опцията SSL ще се проверява автоматично в настройките
                    за имейл. За да изтеглите пощата, която е маркирана със съобщение за грешка, потребителят трябва
                    да отмени опцията за защитена поща за да свали съответното съдържание.
                </p>
                <p>
                    Ако профилът, в който потребителите извличат мейли, поддържа SSL, те могат да изберат тази
                    опция, за да изпращат данни през защитена връзка.
                </p>
                <p>
                    Ако дадена фирма създава свой собствен имейл услуга, IT екипът може да се наложи да провери при
                    доставчика си, че той също е защитен от SSL. Това ще премахне проблемите със сигурността при
                    изпращане на снимки по пощата и индивидуална поща.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="implementation" class="implement-certificate">
    <div class="container text-center">
        <hr/>
        <h3>Как да внедрим SSL сертификат на даден сайт</h3>
        <p>
            В зависимост от това как се хоства сайтът и къде, има различни начини за добавяне на SSL сертификат. В някои
            случаи, ако има елемент на електронната търговия на сайта, това ще е изискване за получаване на сертификат.
            Големите хостинг доставчици често предлагат хостинг пакети, включително SSL сертификати.
        </p>
        <p>
            Може да е възможно да прехвърлите съществуващ SSL от други хостове (като го експортирате от първоначалния
            сървър и го импортирате на новия сървър). Ще бъде необходимо да следвате конкретните инструкции на сайта на
            хоста. Обърнете внимание, че някои сертифициращи органи изискват от вас да закупите лиценз за сървър за
            всеки сървър, който ще бъде домакин на сертификата.
        </p>
        <div class="image-container text-center">
            <img src="/img/how-to-implement.png" alt="HTTPS web link indication"/>
        </div>
    </div>
</section>