@charset "UTF-8";
/* Basic reset
========================================================================== */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
textarea {
  outline: none; }

a,
a:hover {
  color: #111;
  text-decoration: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

/* Document
========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
========================================================================== */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/* Grouping content
========================================================================== */
figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * 1. Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 * 2. Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: inherit;
  /* 1 */
  font-weight: bolder;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
========================================================================== */
audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

/* Forms
========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
========================================================================== */
details,
menu {
  display: block; }

summary {
  display: list-item; }

/* Scripting
========================================================================== */
canvas {
  display: inline-block; }

template {
  display: none; }

/* Hidden
========================================================================== */
[hidden] {
  display: none; }

/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local("PTSans-Italic"), url("../../fonts/PT-Sans-Italic-cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local("PTSans-Italic"), url("../../fonts/PT-Sans-Italic-cyrillic.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local("PTSans-Italic"), url("../../fonts/PT-Sans-Italic-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local("PTSans-Italic"), url("../../fonts/PT-Sans-Italic-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url("../../fonts/PT-Sans-Bold-Italic-cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url("../../fonts/PT-Sans-Bold-Italic-cyrillic.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url("../../fonts/PT-Sans-Bold-Italic-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url("../../fonts/PT-Sans-Bold-Italic-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("../../fonts/PT-Sans-cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("../../fonts/PT-Sans-cyrillic.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("../../fonts/PT-Sans-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("../../fonts/PT-Sans-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../../fonts/PT-Sans-Bold-cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../../fonts/PT-Sans-Bold-cyrillic.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../../fonts/PT-Sans-Bold-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../../fonts/PT-Sans-Bold-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

body {
  color: #000000;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  counter-reset: item; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.center-horizontal {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.center-vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

ol {
  list-style: none; }
  ol li {
    counter-increment: item;
    margin-bottom: 5px; }
  ol li:before {
    content: counter(item);
    display: inline-block;
    width: 1.2em;
    margin-right: 10px;
    color: white;
    text-align: center;
    background: lightblue;
    border-radius: 100%; }

p {
  margin-bottom: 20px;
  text-align: justify; }

hr {
  margin: 30px 0 0;
  border: 2px solid #333333; }

h3 {
  margin: 0 auto 20px;
  color: #77c043;
  font-size: 38px;
  font-weight: 900; }

a,
button {
  border: none;
  background: none; }
  a, a:hover, a:active, a:focus, a:visited,
  button,
  button:hover,
  button:active,
  button:focus,
  button:visited {
    color: #ffffff;
    cursor: pointer;
    outline: none; }

.circle-button {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 56px;
  font-size: 25px;
  text-align: center;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease, border 0.3s ease;
  -o-transition: background-color 0.3s ease, border 0.3s ease;
  transition: background-color 0.3s ease, border 0.3s ease;
  outline: none; }
  .circle-button:hover {
    background-color: #274a61; }

.button-medium {
  position: relative;
  padding: 20px 30px;
  border-radius: 40px;
  background: transparent; }
  .button-medium .button-text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: 700; }
  .button-medium:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #274a61;
    background: -webkit-gradient(linear, left top, right top, from(#274a61), color-stop(#750e1f), to(#274a61));
    background: -o-linear-gradient(left, #274a61, #750e1f, #274a61);
    background: linear-gradient(90deg, #274a61, #750e1f, #274a61);
    background-position: -100% 0;
    background-size: 200% 100%;
    border-radius: 30px;
    -webkit-transition: background-position 0.3s ease;
    -o-transition: background-position 0.3s ease;
    transition: background-position 0.3s ease; }
  .button-medium:hover:before {
    background-position: 0 0; }

#main-header {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  border-bottom: 5px solid #000000; }
  #main-header .top-navigation {
    height: 100%; }
    #main-header .top-navigation li {
      display: inline-block;
      margin: 0 15px;
      padding-top: 25px;
      border-bottom: 3px solid transparent;
      vertical-align: middle; }
      #main-header .top-navigation li a {
        color: #000000;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease; }
        #main-header .top-navigation li a:hover {
          color: #008a32; }
      #main-header .top-navigation li.active {
        border-bottom: 3px solid #008a32; }
    #main-header .top-navigation .logo-container img {
      height: 75px; }

.header-fix {
  height: 80px; }

.footer {
  padding-bottom: 50px;
  color: #ffffff;
  background-color: #3c3c3c; }
  .footer h4, .footer h4 > a {
    padding-bottom: 10px;
    color: #77c043;
    font-size: 24px;
    font-weight: 700; }
  .footer a:hover {
    text-decoration: underline; }
  .footer:before {
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    margin-bottom: 30px;
    background-color: #008a32; }
  .footer .personal-information a {
    color: #77c043; }
  .footer .personal-information .image-container {
    padding: 0; }
    .footer .personal-information .image-container img {
      width: 100%;
      border: 3px solid #77c043;
      border-radius: 50%; }
  .footer ul li {
    margin-bottom: 5px; }
    .footer ul li a {
      font-size: 16px; }

.page-title {
  padding: 50px 0 35px;
  background-image: url("/img/cubes.jpg"); }
  .page-title .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .page-title .icon-container img {
    max-width: 250px;
    max-height: 250px; }
  .page-title .heading {
    padding: 10px 0 10px 50px;
    color: #77c043;
    font-size: 50px;
    font-weight: 900; }

.section-title {
  margin: 0 0 20px 0;
  color: #77c043;
  font-size: 38px;
  font-weight: 900; }

.information {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  padding: 50px;
  background-color: #3c3c3c; }

.list-information {
  padding: 40px 0 30px; }
  .list-information ul ol {
    padding: 25px 0 0 50px; }
    .list-information ul ol li {
      counter-increment: item; }
      .list-information ul ol li:before {
        content: counter(item);
        display: inline-block;
        width: 1.2em;
        margin-right: 10px;
        color: white;
        text-align: center;
        background: #77c043;
        border-radius: 100%; }
  .list-information ul li {
    margin-bottom: 15px; }
    .list-information ul li:before {
      content: "• ";
      font-size: 24px;
      color: #77c043; }
  .list-information dl dt {
    display: inline-block;
    min-width: 200px;
    height: 50px;
    margin-bottom: 10px;
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background: #77c043;
    border-radius: 12px; }
  .list-information dl dd {
    margin-bottom: 10px;
    padding-left: 60px; }

.main-intro {
  color: #008a32;
  padding-top: 50px;
  background: url("/img/cubes.jpg"); }
  .main-intro .container {
    color: #77c043;
    text-shadow: 0 1px #000000;
    font-weight: 900; }
    .main-intro .container .description {
      padding: 30px 0 0 35px; }
    .main-intro .container img {
      height: 100%; }
    .main-intro .container p {
      font-size: 50px; }
    .main-intro .container h1 {
      font-size: 76px;
      line-height: 52px;
      padding: 20px 0; }
    .main-intro .container h2 {
      font-size: 36px; }

.divider {
  background-color: #3c404b;
  height: 350px; }
  .divider img {
    max-height: 100%; }

.navigation {
  padding: 30px 0;
  color: #000000;
  background-color: #e4e4e4; }
  .navigation a {
    color: #000000; }
    .navigation a:hover {
      text-decoration: underline; }
  .navigation img {
    max-width: 100%;
    max-height: 200px; }
  .navigation .title-holder {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle; }
    .navigation .title-holder .description {
      display: table-cell;
      vertical-align: middle; }
  .navigation .list-holder {
    padding-left: 100px; }
    .navigation .list-holder ul li {
      padding-bottom: 15px; }
  .navigation .padding-bg {
    padding: 7px 0;
    margin-bottom: 15px;
    font-weight: 700;
    background: #a0d679; }
  .navigation .square-number {
    float: left;
    display: block;
    width: 36px;
    margin-top: -7px;
    margin-right: 10px;
    padding: 6px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background: #008a32; }

.resources a {
  color: #000000;
  font-weight: 700;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  .resources a:hover {
    color: #008a32;
    text-decoration: underline; }

.info-data {
  position: relative;
  padding: 75px 0 45px;
  background-image: url("/img/cubes.jpg");
  border-top: 7px solid #999999; }
  .info-data .shield {
    position: absolute;
    top: -60px;
    width: 100%; }

.dictionary {
  padding: 50px 0 30px;
  background-color: #333333;
  border-top: 5px solid #008a32; }
  .dictionary table th {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  .dictionary table td {
    padding-bottom: 10px; }
  .dictionary table td:first-child,
  .dictionary table td:nth-child(3) {
    width: 10%;
    color: #77c043;
    font-size: 30px;
    font-weight: 700;
    text-align: center; }
  .dictionary table td:nth-child(2),
  .dictionary table td:nth-child(4) {
    width: 40%;
    color: #ffffff; }
  .dictionary table .title {
    display: block;
    color: #999999;
    font-size: 20px;
    padding-bottom: 5px; }
    .dictionary table .title.en {
      color: #e4e4e4;
      font-size: 24px; }
  .dictionary table,
  .dictionary th,
  .dictionary td {
    border: 3px solid #77c043;
    border-collapse: collapse;
    padding: 15px 10px; }

.ssl-handshake {
  width: 100%;
  padding-top: 50px; }
  .ssl-handshake table {
    margin: 0 auto; }
  .ssl-handshake tr {
    height: 90px; }
    .ssl-handshake tr:nth-last-child(2) {
      height: 35px; }
    .ssl-handshake tr:last-child {
      height: auto;
      opacity: 0.7; }
  .ssl-handshake th {
    font-size: 24px;
    font-weight: 900; }
    .ssl-handshake th.text-right {
      padding-right: 80px; }
    .ssl-handshake th.text-left {
      padding-left: 60px; }
  .ssl-handshake .client,
  .ssl-handshake .server {
    width: 200px;
    height: 200px; }
  .ssl-handshake .client-image {
    width: 200px;
    height: 200px;
    margin: 0 20px 20px auto;
    background: url("/img/laptop.png") no-repeat center;
    background-size: contain; }
  .ssl-handshake .server-image {
    width: 160px;
    height: 160px;
    margin: 20px auto 40px 20px;
    background: url("/img/server.png") no-repeat center;
    background-size: contain; }
  .ssl-handshake .client-message {
    width: 330px;
    text-align: right; }
  .ssl-handshake .server-message {
    width: 330px;
    text-align: left; }
  .ssl-handshake .direction {
    width: 150px; }
    .ssl-handshake .direction .line {
      position: relative;
      margin: 20px 15px 0;
      height: 2px;
      background: #000000; }
      .ssl-handshake .direction .line:before, .ssl-handshake .direction .line:after {
        content: '';
        position: absolute;
        top: -6px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent; }
    .ssl-handshake .direction.left .line:after {
      left: -1px;
      border-right: 10px solid #000000; }
    .ssl-handshake .direction.right .line:after {
      right: -1px;
      border-left: 10px solid #000000; }
    .ssl-handshake .direction.both .line:after {
      left: -1px;
      border-right: 10px solid #000000; }
    .ssl-handshake .direction.both .line:before {
      right: -1px;
      border-left: 10px solid #000000; }

/* SSL Intro Section */
.intro {
  margin-top: 50px; }
  .intro .description-left {
    padding-right: 50px; }
  .intro .image-container img {
    width: 100%;
    padding-top: 25px; }

/* Information Section */
.info-box {
  height: 200px;
  margin-top: 40px;
  padding: 30px 0;
  background-color: #77c043; }
  .info-box .information-holder {
    position: relative;
    z-index: 10;
    height: 200px;
    margin-top: 25px;
    background-color: #3c3c3c; }
  .info-box .image-container {
    padding-top: 25px; }
    .info-box .image-container img {
      width: 150px; }
  .info-box .description-holder {
    color: #ffffff;
    padding: 50px 70px 0 0; }
    .info-box .description-holder a {
      color: #77c043;
      font-weight: 700; }
      .info-box .description-holder a:hover {
        text-decoration: underline; }
  .info-box .highlighted-text {
    color: #77c043;
    font-size: 20px;
    font-weight: 900; }

/* SSL Additional Information Section */
.additional-information {
  padding: 90px 0 50px;
  background-color: #e4e4e4; }
  .additional-information .image-container {
    padding-right: 40px; }
    .additional-information .image-container img {
      width: 100%; }
  .additional-information .description-holder {
    padding-top: 30px; }
  .additional-information a {
    color: #008a32;
    font-weight: 700; }
    .additional-information a:hover {
      text-decoration: underline; }

/* SSL Authentication Section */
.ssl-authentication {
  padding: 50px 0; }
  .ssl-authentication .main-description {
    margin-bottom: 20px;
    padding: 0 90px; }
  .ssl-authentication .type-holder {
    color: #000000; }
    .ssl-authentication .type-holder .number {
      display: block;
      width: 100px;
      height: 100px;
      margin: 25px auto 0;
      padding: 20px;
      color: #fff;
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      background: #008a32;
      border-radius: 5px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .ssl-authentication .type-holder .title {
      margin-top: 20px; }
  .ssl-authentication .additional-description {
    margin: 25px 0;
    padding: 0 90px; }
  .ssl-authentication .holder-row {
    height: 270px; }
    .ssl-authentication .holder-row .image-container {
      height: 250px;
      padding: 25px;
      background-color: #77c043; }
      .ssl-authentication .holder-row .image-container img {
        display: block;
        width: 200px;
        margin: auto; }
    .ssl-authentication .holder-row .holder-description {
      display: table;
      height: 250px;
      padding: 0 20px;
      color: #ffffff;
      background-color: #3c3c3c; }
      .ssl-authentication .holder-row .holder-description p {
        display: table-cell;
        margin-bottom: 20px;
        padding: 15px;
        font-size: 16px;
        text-align: left;
        vertical-align: middle; }
        .ssl-authentication .holder-row .holder-description p span {
          display: block;
          margin-bottom: 10px;
          font-size: 24px;
          font-weight: 700; }

/* SSL Implement Certificate Section */
.implement-certificate {
  padding-top: 50px; }
  .implement-certificate h3 {
    margin: 40px 0 30px; }
  .implement-certificate .image-container {
    padding-top: 35px; }
    .implement-certificate .image-container img {
      max-width: 100%;
      margin: 0 auto; }

.ssl-needed-title {
  padding: 50px 0 0; }
  .ssl-needed-title h3 {
    margin: 0 auto 20px; }
  .ssl-needed-title .main-description {
    padding: 0 20px;
    margin-bottom: 30px; }
  .ssl-needed-title .holder {
    height: 190px;
    padding: 20px;
    background-color: #77c043; }
    .ssl-needed-title .holder img {
      display: block;
      width: 250px;
      margin: 0 auto; }

/* SSL When is Needed Section */
.ssl-needed {
  width: 100%;
  padding: 0 0 40px;
  background-color: #e4e4e4; }
  .ssl-needed .description {
    min-height: 260px;
    padding: 20px 25px 15px;
    color: #ffffff;
    background-color: #3c3c3c; }
    .ssl-needed .description h4 {
      margin-top: 0;
      font-weight: 700;
      margin-bottom: 10px; }
    .ssl-needed .description p {
      font-size: 15px;
      margin-bottom: 20px; }
  .ssl-needed .last-description {
    margin-top: 30px;
    padding: 0 30px; }

/* SSL Visual Implications Section */
.visual-implications {
  padding: 50px 0 110px;
  background-color: #e4e4e4; }
  .visual-implications .image-container {
    padding-top: 25px; }
    .visual-implications .image-container img {
      width: 100%; }
  .visual-implications a {
    color: #008a32;
    font-weight: 700; }
    .visual-implications a:hover {
      text-decoration: underline; }

/* SSL Certificate Work Section */
.ssl-certificate-work .holder-image {
  margin: 40px 0 30px; }

.ssl-certificate-work ol li {
  min-height: 55px; }
  .ssl-certificate-work ol li:before {
    display: block;
    float: left;
    width: 27px;
    margin: 3px 10px 7px 0;
    padding: 7px 0;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    background: #008a32;
    border-radius: 4px; }

/* SSL Error Section */
.dark-light-section {
  margin-top: -60px;
  font-size: 16px; }
  .dark-light-section h3 {
    margin: 20px 0; }
  .dark-light-section .dark-background {
    margin-right: 45px;
    padding: 40px 22px 30px;
    color: #ffffff;
    background-color: #333333; }
    .dark-light-section .dark-background h3 {
      margin-top: 0;
      padding-right: 140px; }
  .dark-light-section ul li {
    margin-bottom: 15px; }
    .dark-light-section ul li:before {
      content: '• ';
      font-size: 24px;
      color: #77c043; }

/* SSL Device Details Section */
.ssl-detail {
  min-height: 280px;
  padding: 50px 0;
  color: #ffffff;
  background-color: #333333; }
  .ssl-detail.dark {
    background-color: #3c3c3c; }
  .ssl-detail img {
    width: 300px; }
  .ssl-detail .holder-description {
    display: table;
    height: 100%; }
    .ssl-detail .holder-description .description {
      display: table-cell;
      vertical-align: middle; }
