body {
    color: $black;
    font-size: 18px;
    font-family: $font-pt-sans;
    background-color: $white;
    counter-reset: item;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

ol {
    list-style: none;

    li {
        counter-increment: item;
        margin-bottom: 5px;
    }

    li:before {
        content: counter(item);
        display: inline-block;
        width: 1.2em;
        margin-right: 10px;
        color: white;
        text-align: center;
        background: lightblue;
        border-radius: 100%;
    }
}

p {
    margin-bottom: 20px;
    text-align: justify;
}

hr {
    margin: 30px 0 0;
    border: 2px solid $light-gray;
}

h3 {
    margin: 0 auto 20px;
    color: $light-green;
    font-size: 38px;
    font-weight: 900;
}