$white: #ffffff;
$black: #000000;
$red-dark: #750e1f;
$blue-dark: #274a61;
$blue: #0970ab;
$gray: #3c3c3c;
$metal-gray: #e4e4e4;
$light-gray: #333333;
$gray-light: #999999;
$green: #008a32;
$light-green: #77c043;
$yellow: #fec833;
$orange: #ca432c;
$red: #b83326;