$m-min-480: 480px;
$m-max-480: 479px;

$m-min-768: 768px;
$m-max-768: 767px;

$m-min-992: 992px;
$m-max-992: 991px;

$m-min-1024: 1024px;
$m-max-1024: 1023px;

$m-min-1200: 1200px;
$m-max-1200: 1999px;
